@keyframes roll-in-right {
	0% {
		transform: translateX(40em) rotate(220deg);
		opacity: 0;
	}

	60% {
		transform: translateX(-2em) rotate(-15deg);
		opacity: 0.8;
	}

	100% {
		transform: translateX(1em) rotate(0deg);
		opacity: 1;
	}
}

:has(>*>.hero) {
	overflow: clip;
}

.hero {
	animation: roll-in-right 2s cubic-bezier(0.45, 0.05, 0.2, 1) 0.5s 1 normal both;
}